


.container{
background-color: rgb(247, 249, 250);
border-radius: 6px;
max-width: 600px;
max-height: 800px;
padding: 50px;
color:#2D4059;
font-family: "Manrope", sans-serif;}

h1{
    text-align: center;

    padding: 10px 24px;
}
.form-container{
 margin-bottom: 30px;   
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: #FDFFFC;
 box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);

}

.hint{
    line-height: 1,5;
    margin-top: 5px;
    opacity: 0,6;
    font-size: 12px;
}
form{
  
    display:flex;  
    justify-content: space-between;
}

.topic{
padding: 12px;
border: 1px solid #2D4059;
width: 90%;
font-size: 14px;
border-radius: 10px;
outline: none;
}
.topic:hover{
    border-color: rgb(34, 7, 139);
}



.poem{
    background-color: #FDFFFC;
    font-size: 16px;
    padding: 20px;
    line-height: 2p; ;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);

   
}

.hidden{
    display: none;
}
.submit-button{margin-left: 8px;
    border: 1px solid rgba(207, 203, 203);
    border-radius: 10px;
    background-color:#2D4059;
    color: rgb(245, 236, 236);
    width: 150px;
    font-size: 16px;
   
}
.submit-button:hover{
  background-color: white;
    color:#2D4059;
}

footer{
    text-align: center;
    margin-top: 60px;
   margin-bottom: 0;
    opacity: 0,9;
    font-size: 13px;
    
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }